*.iml
*.ipr
*.iws
.classpath
.project
.idea
.gradle
.settings
.vscode
npm-debug.log
rebel.xml
/build
/config
/target
/logs
/**/minifiedCss/
/**/rawCss/
/node_modules
/**/bundle-assets/transpiled
/node
/mcache
*.swp
.DS_Store
/gc-cache
/out
/downloads/*
/src/generated/*
/classes
/trace-output
/temp
package-lock.json
/**/bin
/p4workspace
yarn-error.log
/schema
