<div id="quickSearchBox" class='quickSearchBox' wicket:id="quickSearchBox">


						<div class="qs-dropdown">
							<div class="qs-arrow"></div>
							<div class="qs-dropdown-menu">
								<div class="qs-header">QuickSearch</div>
								<div class="qs-term-limit">You are limited to {limit} terms. Visit advanced search for more options.</div>
								
								<div class="qs-entry-area">
									<div class="qs-real-entry">
										<ul class="qs_terms"><li class="notline"></li></ul>
										<div class="qs-form"><input type="text" id="qs_field" class="qs-input qs-input-initial"
											   placeholder="Explore the classified social web" /><div class="qs-submit"></div></div>
									  
									</div> 
									
								</div>
								 <div id="QsTypeAheadWrapper" class="typeAheadWrapper"></div>
								 <div class="qs-clear-link qs-help-link">
								   <a href="#">Clear</a>
								 </div>

								<div class="qs-as-link qs-help-link">
									<a class="qsAdvSearchLink" id="quickSearchAdvancedSearchLink"
										wicket:id="moreOptionsLink" href="#">More Options</a>
								</div>
							</div>
						</div>
					</div>

					<div class="qs-template">
						<div id="li-template">
							<div class="togglespace">&nbsp;</div>
							<div class="term-collection"></div>
						</div>
						<div id="term-template">
							<div class="draggable term-holder">
								<div data-boolean="and" class="togglespace-term and hidden">&nbsp;</div>
								<div class="term{1}">
									{0}<a href="#" class="remove-term"></a>
								</div>
							</div>
						</div>
					</div>
					  <div id="qsPillSaveTemplate" style="display:none"><li class="term-li ui-droppable"><div class="togglespace or" data-boolean="or">&nbsp;</div> <div class="term-collection"> <div class="draggable term-holder ui-draggable ui-draggable-handle" style="position: relative;"> <div data-boolean="and" class="togglespace-term and">&nbsp;</div> <div class="term {3}" data-query="{2}">{1}<a href="#" class="remove-term"></a> </div> </div> </div> </li><li class="notline ui-sortable-handle"></li></div>
    
					<!--  END QUICK SEARCH   -->