extends layout

block content
  article 
     h1= title
     section#leagueList.box
        each league in leaguedata
          h3
           a(data-url= league._links.teams.href, href='/teams?dataurl='+league._links.teams.href+'&league='+league.caption)= league.caption
          a.standings(data-standings= league._links.leagueTable.href, href= '#') standings

     section#standings.box
        h2#leagueName 
        table
           thead
              tr
                 th
                 th team
                 th gp
                 th pts
                 th goals +
                 th goals -
                 th goal diff
                 th games played
           tbody

