extends layout

block content

   article(ng-controller= 'Teams')
      h1= title
 
      ul.teamList
         each team in teamdata
           li 
              a.teamBadge(href= '#', ng-click= 'getTeamsData(\''+team._links.self.href+'\')')
                 img.teamcrest(src= team.crestUrl)
           
              a.teamName(href= '#', ng-click= 'getTeamsData(\''+team._links.self.href+'\')') #{team.name} 

      section.teamInfo(ng-show= 'teamInfo')
         h2(ng-bind= 'teamName')
         h3 Market Value: 
            span.marketValue(ng-bind= 'teamMarketValue')
         p
            a.seePlayers(href= '#') Players:
            table.playerList
               thead 
                  tr
                     th Player
                     th Position 
                     th Number
                     th Date of birth
                     th Nationality
                     th Contract until 
                     th Market calue
                tbody