extends layout

block content
  
  article(ng-controller= 'Teams', data-rate= rate, id= 'teamsContainer', data-standingsurl= standingsUrl)
      ul.teamList.box
         each standing in standingdata
          each team in teamdata
           if standing.teamName === team.name
             li 
                a.teamBadge(href= '#', ng-click= 'getTeamsData(\''+team._links.self.href+'\')')
                   img.teamcrest(src= team.crestUrl)
             
                a.teamName(href= '#', ng-click= 'getTeamsData(\''+team._links.self.href+'\')') #{team.name} 
         li.note
           em Click a team name for player info and value comparison
      section.teamInfo.box#teamInfoId(ng-show= 'teamInfo')
         h2(ng-bind= 'teamName')
         // h3 Market Value*: 
            span.marketValue(ng-bind= 'teamMarketValue')
         
         h2 Players
         p
          // a#showChart(href='#') See a market-value comparison chart
         table.playerList
               thead 
                  tr
                     th Player
                     th Position 
                     th Number
                     th Date of birth
                     th Nationality
                     th Contract until 
                     // th Market value*
                tbody

            p.footnote * Converted to USD from EUR

      
      section#standings.box
        h2#leagueName 
        table
           thead
              tr
                 th
                 th team
                 th pts
                 th gp
                 th goals +
                 th goals -
                 th goal diff
                 th games
           tbody
           tfoot 
              tr.note
                 td(colspan= 8) 
                    em Click the <span class="games-played-icon"></span> icon to see a list of past games and scores, and pending games. 
     
      
      section#chartContainer
        h2 Player Market-Value Comparison
        p
          a#playerDetails(href='') See player details

      p#error.box
      
      
  script(src='/javascripts/d3.min.js')