extends layout

block content
  
  article(ng-controller= 'Teams', data-rate= '')
      h1= title
 
      ul.teamList.box
         each team in teamdata
           li 
              a.teamBadge(href= '#', ng-click= 'getTeamsData(\''+team._links.self.href+'\')')
                 img.teamcrest(src= team.crestUrl)
           
              a.teamName(href= '#', ng-click= 'getTeamsData(\''+team._links.self.href+'\')') #{team.name} 

      section.teamInfo.box#teamInfoId(ng-show= 'teamInfo')
         h2(ng-bind= 'teamName')
         h3 Market Value*: 
            span.marketValue(ng-bind= 'teamMarketValue')
         
         h2 Players
         table.playerList
               thead 
                  tr
                     th Player
                     th Position 
                     th Number
                     th Date of birth
                     th Nationality
                     th Contract until 
                     th Market value*
                tbody

            p * Converted to USD from EUR

      section#chartContainer
  script(src='/javascripts/d3.min.js')