article {width:90%; margin: 2em auto;}
nav {width: 100%; background: #555;  padding: .3em 0;}
nav menu {width:90%; margin:auto; color: #fff; }
menu a {color:#fff;}
menu a:visited {color:#fff;}
ul li {list-style-type: none; padding-bottom: 0.3em;}
li img, li a {vertical-align: middle; margin-right: 0.5em}
.teamcrest {width: 1.25em}
ul.teamList {width:auto; float: left; margin-bottom: 1em;}
.teamInfo {float:left; width: 75%; min-width: 38rem; margin-top: -0.7em; font-size:.9rem; background: #eee; padding: 0 1em;/*display: none;*/}
p {line-height: 150%;}
th, td {padding: .2em .3em; text-align: left;}
.playerList {font-size: .9rem; width: 95%;}
.playerList tbody tr:nth-child(2n-1) {background-color: #ddd;}