body { 
	background: -moz-linear-gradient(360deg, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(360deg, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(360deg, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(360deg, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(360deg, #ffffff 0%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	overflow: auto;
}

article {width:90%; margin: 3em auto; overflow: hidden; padding-bottom: 1em}
nav {width: 100%; background: #555;  padding: .3em 0;}
header, footer {height: 3em; background: #555; clear: both; width: 100%;}
header {position: fixed; top: 0;}
footer {position: fixed; bottom: 0; height: 1.5em;}
nav menu {width:90%; margin:auto; color: #fff; }
menu a {color:#fff;}
menu a:visited {color:#fff;}
ul li {list-style-type: none; padding-bottom: 0.3em;}
li img, li a {vertical-align: middle; margin-right: 0.5em}
#leagueList, #standings {float: left; margin-right: 1em;}
#standings {display: none; margin-left: 2em; margin-top: -0.8em; background-color: #add8e6; padding: 0.5em;}
a.standings {display: inline-block; font-size: 80%; text-indent: 1em; float: right; margin-top: 1em}
#leagueList h3 {clear: both; float: left;}
.teamcrest {width: 1.25em}
ul.teamList, #leagueList {width:auto; float: left; margin-bottom: 1em; background: #222b2e; padding: 1em 1em 4em;}
#leagueList a, ul.teamList a {color: #eee;}
.teamInfo {float:left; width: 73%; min-width: 38rem; margin: -0.7em 0 0 -1em; font-size:.9rem; background: #add8e6; padding: 0 1em;
	background-position: right top; background-repeat: no-repeat; background-size: 5em auto;}
p {line-height: 150%;}
th, td {padding: .2em .3em; text-align: left;}
.playerList {font-size: .9rem; width: 95%;}
.playerList tbody tr:nth-child(2n-1), #standings tbody tr:nth-child(odd) {background-color: #9bc2cf;}
.box { box-shadow: 1px 1px 1px 1px;}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
.barContainer {font-size: .75em;}

#chartContainer {display: none; float:left; margin-left: 2em;}
.arc text {font-size: .5em}


path.slice{ stroke-width:2px;}

polyline{opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}



