article {width:80%; margin: 2em auto;}
ul li {list-style-type: none; padding-bottom: 0.3em;}
li img, li a {vertical-align: middle; margin-right: 0.5em}
.teamcrest {width: 1.25em}
ul.teamList {width:auto; float: left;}
.teamInfo {float:right; width: 60%; /*display: none;*/}
p {line-height: 150%;}